<h1>Admin Homepage</h1>
<p>Find me in app/views/pages/admin.html.erb</p>


LOGIN PAGE

ADD LOGIN FORM HERE

THIS ALONE MAY BREAKING YOUR SITE wihtout the right session setup

<a href="/">Home</a>

  <div id="flash">
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  </div>



      <%#= yield %>