<h1>SCHOOL HOMEPAGE</h1>

HEY THERE! Please go to your respcetive page to log in!

<p>
<%= link_to 'Teachers', teacher_portal_path %>
<%= link_to 'Students', student_portal_path %>
<%= link_to 'Admin', admins_path %>
</p>
