<h1>Students User page</h1>

<p>Find me in app/views/pages/student.html.erb</p>

<div id="flash">
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  </div>