// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.courses-cohorts {
  line-height: 2.3em;
}
button {
  background-color: #9EEAC7;
  box-shadow: darkslategray 1px 1px 1px;
  border-radius: 30px;
}
td {
  padding: 10px;
}